.container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90vw;
    margin: 1rem auto;
    background: #fff;
    border-radius:  0.25rem;
    max-width: 1170px;
    gap: 1rem 2rem;
    box-shadow:  22px 30px 10px rgba(21, 21, 21, 0.1); 
  }
  .returnArrow {
    display: inline-block;
    color: #15ad31;
    font-size: 24px;
    transform: rotate(45deg);
    background-color: rgb(10, 10, 10);
  }
  .returnArrow:hover{
    /* background-color: #0b9404f7; */
    transform: translateY(-2px);
    color: #ffffff;
  }
  
  
  .buttoom{
    display: inline-block;
    background-color: #86d282f7;
    color: #e6e621;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttoom:hover{
    background-color: #0b9404f7;
    transform: translateY(-2px);
    color: #ffffff;
  }
  
  