.container {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 1rem auto;
  border-radius: 0.25rem;
  max-width: 1170px;
  box-shadow: 22px 30px 10px rgba(21, 21, 21, 0.1);
}
.title_2 {
  display: none;
}
@media screen and (max-width:600px) {
  .container{
    background-color: none;
    /* flex-direction: column; */
  }

  .title_1 {
    display: none;
  }
  
}
.sectionC{
  background-color: blue;
  width: 400px;
  margin-left: 3px;
}

.styleDitails {
  align-items: center;
  text-align: left;
  color: rgb(4, 37, 5);
  flex-direction: column;
  padding: 0rem 1rem;
  border: 2px solid #eae6eb;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.styleDitails span {
  margin-right: 0.5rem;
}

.styleDitailsData {
  background: linear-gradient(70deg, #595656 50%, #8a8383dc 90%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #000000;
}
.title_2 {
  font-family: "Pacifico", cursive;
  color: rgb(90, 164, 5);
  font-size: 50px;
  margin: 20px;
  flex: content;
}


.title_1 {
  font-family: "Pacifico", cursive;
  color: rgb(90, 164, 5);
  font-size: 50px;
  margin: 20px;
  flex: content;
}
.parrafo{
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
  font-size: 28px;
  background-color: red;
}