.container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90vw;
    margin: 1rem auto;
    background: #fff;
    border-radius:  0.25rem;
    max-width: 1170px;
    gap: 1rem 2rem;
    box-shadow:  22px 30px 10px rgba(21, 21, 21, 0.1); 
  }
  .styleDitails {
      align-items: center;
      /* margin: 0.3cm; */
      text-align: left;
      color: rgb(4, 37, 5);
      flex-direction: column;
      padding: 0rem 1rem;
      border: 2px solid #eae6eb;
      border-radius: 0.25rem;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    .styleDitails p {
      font-weight: bold;
      text-transform: capitalize;
      line-height: 1.8;
    }
    .styleDitails span {
      margin-right: 0.5rem;
    }
    
    .styleDitailsData {
      background: linear-gradient(70deg, #595656  50%, #8a8383dc 90%);
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      color: #000000;
    }
    
    .containerImagen {
      width: 500px;
      height: 500px;
      margin: 1em;
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55vh; /* or any desired height */
    }
    
    .image {
      max-width: 100%;
      max-height: 100%;
    }
    
    .title {
      font-family: "Pacifico", cursive;
      color: rgb(90, 164, 5);
      font-size: 50px;
      margin: 20px;
      flex: content;
    }
    