@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

.container {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 1rem auto;
  border-radius: 0.25rem;
  max-width: 1170px;
  background-color: #515151f7;
  box-shadow: -2px -3px 23px 1px #a3ff32;
  padding: 0.5%;
}

.container:hover {
  background-color: #131313f7;
}
.title_1 {
  color: #ccd647;
  text-align: center;
}

.container:hover .sectionC .title_1 {
  color: #ccd647;
  
}

.title_2 {
  display: none;
}

@media screen and (max-width:600px) {
  .container {
    background-color: none;
    flex-direction: column;
    align-items: center;
  }
  .title_1 {
    text-align: center;
    display: none;
  }
  .title_2 {
    text-align: center;
    display: block;
  }
  
  .parrafo {   
    font-size: 10px;

  }
  .sectionC {
    background-color: none;
    width: 10px;
    margin-left: 0px;
    justify-content:space-between;
    align-items: left;
   
  }
}
@media screen and (min-width:600px) {
  .sectionC{
  background-color: #898d84;
  }
}

.sectionC {
  width: 400px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;

  
}

.styleDitailsData {
  background: linear-gradient(70deg, #595656 50%, #8a8383dc 90%);
  padding: 0.2rem 0.2rem;
  border-radius: 0.25rem;
  color: #000000;
}

.title_2 {
  color: #ccd647;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 50px;
  margin: 20px;
  flex: content;
}

.title_1 {
  color: #e1e697;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 50px;
  margin: 20px;
  flex: content;
}

.parrafo {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 24px;
  padding: 0.5rem;
  overflow: hidden; 
  margin: 0.1px;

}

.parrafo:hover {
  background-color:  #131313f7;
}
