.section {
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30em;
  margin: auto;
}
.tittleCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: bisque;
  font-size: 50px;
}


.containerR {
  background: url("https://i.pinimg.com/564x/6b/e3/c9/6be3c9c298f46d128cb7df788c6d3699.jpg")no-repeat center;
  background-size: cover;
  border: 5px solid rgb(74, 154, 82);
  width: 29em;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .9);
  margin: 0 auto;
  margin-top: 20px;
  color: wheat;
}

.containerL {
  background: url("https://i.pinimg.com/564x/ed/95/55/ed9555a79720c8a75775e788f881c54d.jpg")no-repeat center;
  background-size: cover;
  border: 5px solid rgb(6, 146, 20);

  width: 27em;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  margin: 0 auto;
  margin-top: 20px;
}
.namesC {
  display: flex;
  flex-direction: column;
}
.detailsC{
  display: flex;
  flex-direction: column;
}
.detailsC:hover{
  background-color: rgba(41, 40, 40, 0.2);
}



@media screen and (min-width: 1020px) {
  .section {
    width: 80em;
    flex-direction: row;  }
  .containerR {
    width: 50%;
  }
  .containerL {
    width: 50%;
  }
  .namesC {
    flex-direction: row;
  }
  .detailsC{
    flex-direction: row;
  }
}


@media screen and (max-width: 1019px) and (min-width: 768px) {
  .section {
    width: 65em;
    flex-direction: row;
  }
  .containerR {
    width: 50%;
  }
  .containerL {
    width: 50%;
  }
  .namesC {
    flex-direction: row;
  }
  .detailsC{
    flex-direction: row;
  }
  
}

.containerR:hover {
  color: rgb(16, 89, 190);
}

.titleForm {
  font-size: 40px;
}

.alertError {
  color: chartreuse;
}
.theInput:hover {
  box-shadow: 0px -45px 9px 6px #e6e6e6 inset;
}
.tittleFail{
  font-size: 30px;
  color: white;
}
.tittleFail:hover{
  color:  red;
}

/* estyle Changes */
.seeChange {
  color: rgb(74, 143, 254);
  font-size: 20px;
}

.imageC{
  width: 200px;
  height: 300px;
}
.image{
  width: 100%;
  height: auto;
}
.details{
  display: flex;
  flex-direction: column;
}
.tittleText{
  font-size: 25px;
  color: rgb(19, 39, 26);
  margin: 2%;

}




.tittleText:hover{
  text-shadow: 6px 1px 14px #38DA42;
  color: wheat;
  
}


.text{
  font-size: 19px;
}

