.section {
    background-color: none;
  }
  
  .container {
    background-color: rgba(34, 34, 255, .2);
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 50px;
  }
  .container:hover{
    background-color: rgba(2, 2, 117, 0.5);
    background-color: antiquewhite;

  }
  
.titleForm{
    color:antiquewhite;
    font-size: 30px;
}
.alertError{
    color: chartreuse;
    font-size: 20px;
}
.seeChange{
    color: rgb(74, 143, 254);
    font-size: 20px;
}

.theInput{
  /* background-color: yellow; */
  padding: 1%;
  color:black;
  height: 3.2rem;
}

