.cardsContainer {
    background-color: rgba(106, 104, 104, 0.553);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 5px;
    max-width: 1200px
}
 